<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome{% endblock title %}</title>
</head>
<body>
{% block body %}
{% endblock body %}
</body>
</html>


