{% extends "layout.html" %}
{% block title %}Upload{% endblock title %}
{% block body %}

<form action="{{ url_for('upload') }}" method=POST enctype=multipart/form-data>
<dl>
<dt>File
    <dd><input type=file name=dumpfile>
</dl>
<p><input type=submit value=Post>
</form>

{% endblock body %}

</body>
</html>


